<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

    <link href="~/Images/UX_UI_Design/pharmacy-logo.png" rel="shortcut icon" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <img src="~/Images/UX_UI_Design/pharmacy-logo.png" style="height:10%;width:10%" />
                <h2 class="p-3"><a class="badge badge-info" asp-area="" asp-controller="Medicines" asp-action="Index">ABC Healthcare pharmacy</a></h2>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <!--  <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Medicines" asp-action="Index">malshetwi_CapstoneProject_SDA.LMS</a></li>-->
                        <li class="nav-item"><a class="nav-link text-info" asp-area="" asp-controller="Medicines" asp-action="Index"><b>Medicines</b></a></li>
                        <li class="nav-item"><a class="nav-link text-info" asp-area="" asp-controller="Home" asp-action="About"><b>About</b></a></li>
                        <li class="nav-item"><a class="text text-info" asp-controller="Orders" asp-action="ShoppingCart"><h3><i class="bi bi-cart3" title="Shopping Cart"></i>@await Component.InvokeAsync("ShoppingCartSummary")</h3></a></li>
                    </ul>

                    <form class="form-inline my-1 my-lg-0" asp-controller="Medicines" asp-action="Filter" style="padding-right: 15px">
                        <input name="searchString" type="text" class="form-control" placeholder="Search for a Medicine ..." aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-info my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
                    </form>
                    @*await Html.RenderPartialAsync() // one of ways of rendering partial view*@
                    <partial name="_Identity.cshtml" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container text-info">
            &copy; 2022 - malshetwi_CapstoneProject_SDA.LMS
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
