@{
    ViewData["Title"] = "404 | Not Founded";
}


<div class="col-md-12 text-md-center">
    <br />
    <img src="~/Images/UX_UI_Design/404.png" style="height:100%;width:30%" />
    <h1>404 Data or Page your action on <span style="color:brown">NOT FOUND !!</span></h1>
    <h2 style="color:cornflowerblue"><i class="bi bi-info-circle-fill"></i> Data may have been changed by another page or user</h2><br />
    <a class="btn btn-outline-info" asp-action="Index"><i class="bi bi-arrow-left-square-fill"> Back, All Items</i></a>
</div>
