@{
    ViewData["Title"] = "403 | Access Denied";
}

<div class="col-md-12 text-md-center">
    <img src="~/Images/UX_UI_Design/403.png" style="height:100%;width:38%" />
    <h2><span style="color:orangered"><b>403 ACCESS DENIED !!</b></span></h2>
    <h1 style="color:darkred">The page you're trying to access has restricted access</h1>
    <h2 style="color:cornflowerblue"><i class="bi bi-exclamation-triangle-fill"></i> Please refer to your system administrator</h2><br />
    <a class="btn btn-outline-info" asp-controller="Medicines" asp-action="Index"><i class="bi bi-arrow-left-square-fill"> Back, Home page</i></a>
</div>
