@{
    ViewData["Title"] = "Demo credentials";
}

<div class="row">
    <div class="col-md-8 offset-2" style="z-index:1">
        <h1><b>@ViewData["Title"]</b></h1>

        <br />
        <h2>Manual of credentials, for Demo use</h2>
        <h3 style="color:cornflowerblue"><i class="bi bi-info-circle-fill"></i> Default credentials seeded and created automatically</h3>
        <hr>
        <br />
        <br />
        <h5><b>Admin user credential</b></h5>
        <div class="form-group">
            <label class="control-label">Email:</label>
            <label class="control-label">admin@capstone.com</label>
            <br />
            <label class="control-label">Password:</label>
            <label class="control-label">!Admin1</label>
        </div>
        <hr>
        <h5><b>Normal/Standard user credential</b></h5>
        <div class="form-group">
            <label class="control-label">Email:</label>
            <label class="control-label">xuser@capstone.com</label>
            <br />
            <label class="control-label">Password:</label>
            <label class="control-label">!User1</label>
        </div>
    </div>
</div>
<div class="col-md-8 offset-2"><img class="float-right" src="~/Images/UX_UI_Design/GitHub_malshetwi.png" style="height: 46%; width: 26%; position: fixed; right: 220px; bottom: 27.9px; z-index: 0;" /></div>
