@{
    ViewData["Title"] = "Registration Completed";
}
<br />
<div class="row">

    <div class="col-md-6 offset-3 alert alert-success">
        <h1 class="text-center"><i class="bi bi-person-badge"></i></h1>
        <h2><i class="bi bi-check-square-fill"></i> Registration Completed Successfully!</h2>
        <p class="h4">You can log in now using your credentials</p><br />
        <hr />
        <p class="h4 font-italic">Welcome !</p>
    </div>
</div>
<div class="col-md-8 offset-2"><img class="float-right" src="~/Images/UX_UI_Design/RegisterCompleted.png" style="height:100%;width: 40%" /></div>
