@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Application Users";
}
<div class="row">
    <div class="col-md-8 offset-2">
        <p><h4>List of all Application Users</h4></p>
        <table class="table">
            <thead>
                <tr>

                    <th>User Name</th>
                    <th>Full Name</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                <tr>
                    <td class="align-middle">@user.UserName</td>
                    <td>@user.FullName</td>
                    @if (user.FullName == ("Admin"))
                    {
                        <td>Admin</td>
                    }
                    else
                    {
                        <td>User</td>
                    }

                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4"></td>
                </tr>
            </tfoot>
        </table>
        <a class="btn btn-outline-info" asp-controller="Medicines" asp-action="Index"><i class="bi bi-arrow-left-square-fill"> Back Home Page</i></a>
    </div>
    <div class="col-md-8 offset-2"><img class="float-right" src="~/Images/UX_UI_Design/Users.png" style="height:100%;width: 40%" /></div>

</div>
