@{
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="col-md-8 offset-2" style="z-index:1">
        <h1>@ViewData["Title"]</h1>
        <div>
            <br />
            <h2>This ASP.NET MVC web application</h2>
            <hr>
            <h4>For: SDA_simplilearn Capstone Project, E-Healthcare story</h4>
            <br>
            <br>
            <h2><i class="bi bi-github"></i> Github Project Repository</h2>
            <hr>
            <h4><a href="https://github.com/malshetwi/CapstoneProject_SDA.LMS">malshetwi/CapstoneProject_SDA.LMS</a></h4>
            <br>
        </div>

    </div>
</div>
<div class="col-md-8 offset-2"><img class="float-right" src="~/Images/UX_UI_Design/GitHub_malshetwi.png" style="height: 46%; width: 26%; position: fixed; right: 220px; bottom: 27.9px; z-index: 0;"/></div>
