@{
    ViewData["Title"] = "Order Completed";
}
<br />
<div class="row">
    
    <div class="col-md-6 offset-3 alert alert-success">
        <h1 class="text-center"><i class="bi bi-receipt-cutoff"></i></h1>
        <h2><i class="bi bi-check-square-fill"></i> Order Complete Successfully!</h2>
        <p class="h4">You can check your orders from your profile</p><br />
        <hr />
        <p class="h4 font-italic">Thank you !</p>
    </div>
</div>
<div class="col-md-8 offset-2"><img class="float-right" src="~/Images/UX_UI_Design/Order_Completed.png" style="height:100%;width: 40%" /></div> 
